body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Контейнер */
.container {
  max-width: 1200px; /* Увеличиваем ширину контейнера */
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  gap: 20px; /* Расстояние между колонками */
}

/* Основная колонка с карточками покемонов */
.main-column {
  flex: 1; /* Занимает оставшееся пространство */
}

/* Колонка с деталями покемона */
.details-column {
  width: 300px; /* Фиксированная ширина для колонки с деталями */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none; /* Скрыта по умолчанию */
}

/* Поисковая строка */
.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  width: 60%;
}

.search-bar button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Карточки покемонов */
.pokemon-card {
  padding: 10px;
  background-color: #ffcb05;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.pokemon-card:hover {
  background-color: #f2b807;
}

/* Детали покемона */
.details {
  text-align: center;
}

.details img {
  width: 150px;
}

.close-btn {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.close-btn:hover {
  background-color: darkred;
}

/* Пагинация */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Ошибки */
.error-boundary {
  text-align: center;
  color: red;
  font-weight: bold;
}

/* Загрузка */
.loading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.not-found {
  text-align: center;
  margin-top: 50px;
}

.not-found h2 {
  font-size: 2rem;
  color: #ff0000;
}

.not-found p {
  font-size: 1.2rem;
  color: #555;
}